body,html{
  margin: 0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
}


.navbar-brand img{
  width: auto;
  height: 52px;

}


.navbar-default{
  background-color: #ffffff;
  border: none;

}
.navbar-default .navbar-nav>li>a{
  color: #F66D6D;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
}



}
hr {
  width: 60%;
  height: 1px;
  border-color: #979797;
  background-color: #979797;


}

.row .col-md-12 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  color: #F66D6D;
  text-align: center;
  font-weight: bold;
  margin: 10px;


}
.row .col-md-12 p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #000000;
  text-align: center;

}
.glyphicon-chevron-left:before  {
  content: none;
}
.glyphicon-chevron-right:before  {
  content: none;
}
@media screen and (max-width:632px) {

}
.content-hotel {
  width: 100%;
  height: auto;
  background: url("../hotels/home/hotel.jpg") ;

  background-repeat: no-repeat;
  min-height: 600px;
  margin-bottom: 30px;
}
.row{
  margin-bottom: -100px;
}
.content-hotel h1{
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
}
.content-hotel h1 a{
  text-decoration: none;
  color: #d87575;
  font-weight: bold;
}
.content-hotel h1 a:hover{
  color: #ffa3a3;
}
.content-restaurant {
  width: 100%;
  height: auto;
  background: url("../hotels/home/food.jpg") ;

  background-repeat: no-repeat;
  min-height: 600px;

}
.content-restaurant h1 {
  padding-top: 50px;
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;

}
.content-restaurant h1 a{
  text-decoration: none;
  color: #d87575;
  font-weight: bold;
}
.content-restaurant h1 a:hover{
  color: #ffa3a3;
}
.content-travel {
  width: 100%;
  height: auto;
  background: url("../hotels/home/travel.jpg") ;
  background-repeat: no-repeat;
  min-height: 600px;

}
.content-travel h1 {
  text-align: center;
  padding-top: 50px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
}
.content-travel h1 a{
  text-decoration: none;
  color: #d87575;
  font-weight: bold;
}
.content-travel h1 a:hover{
  color: #ffa3a3;
}

.mytophotel{
  text-align: center;
  padding: 10px 50px 10px 50px;
}
.mytophotel h1{

  text-transform: uppercase;
  color: #F66D6D;
  font-weight: bold;
}
.firsthotel{
  text-align: center;
  padding: 10px 50px 10px 50px;
}
.firsthotel h1{
  text-align: center;
  text-transform: uppercase;
  color: #F66D6D;
  font-weight: bold;
}
.firsthotel .img-responsive img{
  width: 70%;
}
.content-contact{
  text-align: center;
  padding: 10px 50px 40px 50px;
}

.footer{
  padding-top: 50px;
  text-align: center;
  opacity: 0.7;
}
.header{
  text-align: center;
}
.header h1{
  text-transform: uppercase;
  color: #F66D6D;
  font-weight: bold;
  padding-bottom: 40px;
}
.header p{
  text-align: center;
  padding: 50px 50px 50px 50px;
}
.row .col-md-4{
  padding-top: 40px;
  text-align: center;
  padding-bottom: 30px;
}
.row .col-md-4 h4{
  text-transform: uppercase;
  color: #F66D6D;
  font-weight: bold;
}
.map{
  padding: 30px 30px;
}
.btn-primary {
  background-color: inherit;
  border: none;
  border-color: inherit;
  color: #E47b7b;

}
.btn-primary:hover{
  background-color: inherit;
  border-color: inherit;
  color: #e49b9b;

}
.btn-primary.focus, .btn-primary:focus{
  background-color: inherit;
  border-color: inherit;
  border: none;
  color: #e49b9b;
}
.modal-body {
  text-align: center;
}
.modal-body a {
  color: #E47b7b;
}
.modal-header {
  color: #E47b7b;
  text-align: center;
}
.modal-footer {
  color: #E47b7b;
}
.email a {
  color:  #E47b7b;
}
