body,html{
  margin: 0;
  padding:0;
}


.navbar-brand img{
  width: auto;
  height: 52px;

}


.navbar-default{
  background-color: #ffffff;
  border: none;

}
.navbar-default .navbar-nav>li>a{
  color: #F66D6D;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
}

.carousel-caption {
  text-align-last: center;
}

.carousel-inner {
  display: run-in;
  margin-bottom: 30px;
}

.carousel-control{
  width: auto;
  height: auto;

}
.carousel-inner img {
  width: 80%;
  height: auto;
  display: block;

}

.carousel-caption h1 {
  font-size: 54px;
  font-family: 'Montserrat', sans-serif;


}
hr {
  width: 60%;
  height: 1px;
  border-color: #979797;
  background-color: #979797;


}

.row .col-md-12 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  color: #F66D6D;
  text-align: center;
  font-weight: bold;
  margin: 10px;


}
.row .col-md-12 p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #000000;
  text-align: center;

}
.carousel-caption {


}
.carousel-caption a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 54px;
  font-family: 'Montserrat', sans-serif;


}
.carousel-caption a:hover {
  color: #E49B9B;
  text-decoration: none;
  font-size: 54px;
  font-family: 'Montserrat', sans-serif;
}
.glyphicon-chevron-right:before  {
  content: none;
}
@media screen and (max-width:632px) {

}
.content-hotel {
  width: 80%;
  height: auto;
  background: url("../img/test.png") ;
  background-repeat: no-repeat;
  min-height: 600px;
  margin-bottom: 30px;

}
.content-hotel h1 {
  padding-top: 270px;
  color: #FFFFFF;

  font-family: 'Montserrat', sans-serif;

}
.content-restaurant {
  width: 80%;
  height: auto;
  background: url("../img/test.png") ;
  background-repeat: no-repeat;
  min-height: 600px;

}
.content-restaurant h1 {
  padding-top: 270px;
  color: #FFFFFF;

  font-family: 'Montserrat', sans-serif;

}
.content-travel {
  width: 80%;
  height: auto;
  background: url("../img/test.png") ;
  background-repeat: no-repeat;
  min-height: 600px;

}
.content-travel h1 {
  padding-top: 270px;
  color: #FFFFFF;

  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;
}
.content-top-10 img {
  width: 80%;
  height: 80%;

}
.content-top-10 h1 {
  text-align: left;
  color: #F66D6D;;
  text-decoration: none;
  font-size: 54px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 125px;
}
.trv-content img {
  width: 80%;
  height: 80%;
  margin-bottom: 50px;
}
.trv-content p {
  margin-bottom: 50px;
}
.logo-content {
  margin-top: 30px;
}
.img-rounded {
  height: 50%;
  width: 50%;

}
.logo-content {
  margin-bottom: 40px;
  margin-top: 40px;
}
.map iframe {
  width: 80%;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}
